@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Meyer Reset */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background-color: rgb(8, 54, 73);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/* HEADER ***************************************************/

header {
    height: fit-content;
}

/* Top Header */

.logo-header {
    display: flex;
    justify-content: space-between;
	margin: 1rem 1rem 0rem 1rem;
}

.top-logo {
	height: 150px;
}

.social-media-links {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-end;
	color:white;
}

.social-link {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.social-link p {
	margin: 0.3rem;
}

.social-icon {
	height: 30px;
}

/* Nav Bar */

nav > ul {
	display: flex;
	justify-content: center;
}

nav > ul > li {
	background-color: lightgray;
	flex-direction: column;
}

nav > ul > li > a, nav > ul > li > button {
	padding: 2rem;
	text-align: center;
	align-items: center;
	display: flex;
	text-decoration: none;
	color: inherit;
	transition: 1s;
}

nav > ul > li > button, nav > ul > li > button:focus {
	-webkit-appearance: none;
	cursor: pointer;
	font: inherit;
	border: none;
	background-color: inherit;
	outline: inherit;
	width: 100%;
}

nav > ul > li.bookend {
	flex-grow: 3;
}

.sub-menu {
	height: fit-content;
	opacity: 100%;
	list-style: none;
	position: absolute;
	z-index:1;
}

.sub-menu li {
	display: none;
}

li:focus-within > .sub-menu li {
	display: block;
}

li:focus-within > .sub-menu li a {
	text-decoration: none;
	background-color: lightgray;
	color: inherit;
	padding: 2rem;
	text-align: center;
	align-items: center;
	display: flex;
	animation: uncollapse 1s alternate;
}

li:focus-within > .sub-menu li a:hover {
	background-color: rgb(153, 153, 153);
}

#hamburger {
	display: none;
}

@keyframes uncollapse {
	0% {
		display: flex;
		opacity: 0%;
		height: 0px;
		line-height: 0rem;
		padding: 0rem 2rem 0rem 2rem;
	}
	100% {
		opacity: 100%;
		height: fit-content;
		line-height: 1rem;
	}
}

@media only screen and (max-width: 675px) {
	#hamburger {
		display: block;
	}
	.sub-menu {
		position: relative;
	}
	.sub-menu li a {
		position: relative;
		height: fit-content;
	}
}

nav li a:hover, nav li button:hover {
	background-color: rgb(153, 153, 153);
}

.not-clickable:focus {
	background-color: rgb(153, 153, 153);
}

.icon {
	height: 30px;
	margin-right:0.83rem;
}

/* HOME ********************************************************/

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.large-image {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.large-image img {
	height: 60vh;
	width: 100vw;
}

.main-info {
	display: flex;
	justify-content: space-evenly;
}

section.home {
	margin: 2rem;
	width: fit-content;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tile {
	width: 250px;
	height: 250px;
	background-color: whitesmoke;
	box-shadow: 1px 1px 5px darkslategray;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.tile img {
	height: 100px;
	width: 100px;
	margin-bottom: 1rem;
}

.tile p {
	margin: 1rem;
}

.emergency {
	box-shadow: 0px 0px 10px rgb(1, 255, 1);
}

aside.home {
	background-color: whitesmoke;
	margin: 3rem;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: fit-content;
}

.home .title {
	font-size: 2rem;
	font-weight: 900;
}

aside div {
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

a.button {
	background-color: green;
	display: flex;
	justify-content: center;
	padding: 1rem;
	border-radius: 5px;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

aside div h4 {
	margin: 0.4rem;
}

aside div p {
	margin: 0.4rem;
}

/* New Client **************************************************/

.form {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}

.form h3 {
	color:white;
}

.form .button {
	margin: 0.5rem;
}

form {
	display: flex;
	flex-direction: column;
	width: 350px;
	border: 2px rgb(0, 0, 0);
	margin: 1rem;
	background-color: whitesmoke;
	padding: 1rem;
	border-radius: 5px;
}

#new-client-form-text {
	color: darkslategray;
}

select, input {
	border-radius: 3px;
	margin: 0.5rem;
	padding:0.2rem;
}

input.radio-input {
	margin: 0rem 0rem 0rem 1rem;
}

/* Established Client ******************************************/

#time-and-reason {
	resize: none;
	width: 300px;
	height: 100px;
	padding: 0.2rem;
	margin: 0.5rem;
}

/* Veterinary Services *****************************************/

#services {
	align-items: center;
	margin-top: 1rem;
}

.service {
	background-color: whitesmoke;
	max-width: 700px;
	border-radius: 5px;
	padding: 1rem;
	margin: 0.5rem;
}

.service h3 {
	font-size: 32px;
	margin-bottom: 1rem;
}

/* Emergency ***************************************************/
#emergency {
	align-items: center;
	margin: 1rem 0rem 1rem 0rem;
}

#emergency h3 {
	font-size: 32px;
	color: white;
	margin: 1rem;
}


div.buttons {
	display: flex;
}

.buttons .button {
	width: 250px;
	margin: 1rem;
}

/* Euthanasia **************************************************/

#euthanasia {
	align-items: center;
	margin: 1rem 0rem 1rem 0rem;
}

#euthanasia h3 {
	color: white;
	font-size: 32px;
}

#euthanasia ol {
	list-style: decimal;
	margin: 1.5rem;
}

#euthanasia > .advice {
	max-width: 1200px;
	display: flex;
}

.advice > .advice {
	max-width: 400px;
}

.advice > byline, .advice > p,  .advice > h4{
	margin: 0.5rem;
}

strong {
	font-weight: 600;
	font-size: 110%;
}

.source {
	font-style: italic;
	font-size: 75%;
}

.hotline {
	width: 300px;
}

/* Our Staff ***********************************************/

#staff {
	align-items: center;
	margin: 1rem 0rem 1rem 0rem;
}

#staff > h3 {
	font-size: 32px;
	color: white;
}

.about-us {
	display: flex;
}

/*  Clinic Tour *************************************************/

#tour {
	align-items: center;
	margin: 1rem 0rem 1rem 0rem;
}

#tour > h3 {
	font-size: 32px;
	color: white;
}

.room img {
	height: auto;
	max-width: 100%;
}

/* Directions **************************************************/

#directions {
	align-items: center;
	margin: 1rem 0rem 1rem 0rem;
}

#directions > h3 {
	font-size: 32px;
	color: white;
}

.maps {
	display: flex;
	justify-content: center;
	height: 300px;
}

iframe {
	width: 100%;
	height: auto;
}

/* Footer ******************************************************/

footer {
	margin-top: auto;
	background-color: rgb(82, 82, 82);
}

.footer-info-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-contact, .footer-hours {
	color: rgb(196, 194, 194)
}

div h4 {
	text-decoration: underline;
	font-size: larger;
}

.attributions {
	font-size: 0.7rem;
}

/* MEDIA QUERIES **************************************************/
@media only screen and (min-width: 675px) {
	
}


@media only screen and (max-width: 675px) {
	.logo-header {
		flex-direction: column;
	}
	.social-media-links {
		align-items: center;
	}
	.top-logo {
		width: 100%;
	}
	#hamburger {
		background-color: gray;
		height: 60px;
		width: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
	}
	#hamburger div {
		width: 100%;
		height: 2px;
		background-color: white;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#hamburger div:before, #hamburger div:after {
		width: 100%;
		height: 2px;
		background-color: white;
		position: absolute;
		top: -10px;
		content: '';
	}
	#hamburger div:after {
		top: 10px;
	}
	nav > ul {
		flex-direction: column;
	}
	.large-image {
		display: none;
	}
	.main-info {
		flex-direction: column;
		align-items: center;
	}
	.tile {
		margin: 0.5rem;
	}
	aside.home {
		margin: 0.5rem;
	}
	.about-us {
		flex-direction: column;
	}
	footer {
		display: none;
	}
}