@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Meyer Reset */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(8, 54, 73);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/* HEADER ***************************************************/

header {
    height: fit-content;
    margin: 2rem;
}

/* Top Header */

.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.top-logo {
	height: 150px;
}

.social-media-links {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color:white;
}

.icon {
	height: 30px;
}

/* Nav Bar */

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	background-color: lightgray;
}

nav ul li a {
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-grow: 1;
	align-items: center;
	text-decoration: none;
}

nav ul li a p {
	margin-left: 10px;
}

nav ul li a:hover {
	background-color: darkgray;
}

.pet-store {
	color: red;
}

/* Footer ******************************************************/

footer {
	margin-top: auto;
	background-color: rgb(126, 126, 126);
}

.footer-info-wrapper {
	display: flex;
	justify-content: space-around;
}

div h4 {
	text-decoration: underline;
	font-size: larger;
}

@media only screen and (max-width: 675px) {
	.logo-header {
		flex-direction: column;
	}
	.top-logo {
		height: 125px;
	}
	nav ul {
		flex-direction: column;
	}
	nav ul li {

	}
}