<div class="contact">
    <a class="button" href="{{@mapLink}}" target="_blank" rel="noopener noreferrer">
        <img src="/assets/pin.svg" class="icon" alt="address">{{@address}}
    </a>
</div>

{{yield}}