<footer>
    <div class="footer-info-wrapper">
        <div class="footer-contact">
            <h4>ADDRESS</h4>
            <p>47 Four Paws Lane
            Trenton, ME 04605</p>
            <h4>TELEPHONE/FAX</h4>
            <p>(207) 664-2944</p>
        </div>
        <div class="footer-hours">
            <h4>HOURS</h4>
            <p>Sunday: Closed</p>
            <p>Monday: 8am-5pm</p>
            <p>Tuesday: 10am-6pm</p>
            <p>Wednesday: 8am-5pm</p>
            <p>Thursday: 10am-6pm</p>
            <p>Friday: 8am-5pm</p>
            <p>Saturday: Closed</p>
        </div>
        <div class="attributions">
            <p>Facebook, Instagram, Info icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
            <p>Home, Appointment, Services, Store icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
        </div>
    </div>
</footer>

{{yield}}