<footer>
    <div class="footer-info-wrapper">
        <div class="footer-contact">
            <h4>ADDRESS</h4>
            <p>47 Four Paws Lane
            Trenton, ME 04605</p>
            <h4>TELEPHONE/FAX</h4>
            <p>(207) 664-2944</p>
            <h4>EMAIL</h4>
            <p>oceansideanimalhospital@gmail.com</p>
        </div>
        <div class="footer-hours">
            <h4>Hours:</h4>
            <table>
                <tbody>
                    <tr>
                        <td>Sunday</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8am-5pm</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>10am-6:30pm</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>8am-5pm</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>10am-6:30pm</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>8am-5pm</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>Closed</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer-links">
            <a href="#"><img class="icon" src="/assets/facebook-footer.svg" alt="Facebook"></a>
            <a href="#"><img class="icon" src="/assets/instagram-footer.svg" alt="Instagram"></a>
        </div>
        <div class="attributions">
            <p>Facebook, Instagram, Info icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
            <p>Home, Appointment, Services, Store, Emergency, Adopt icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
        </div>
    </div>
</footer>

{{yield}}