<header>
    <div class="top-header">
        <img class="top-logo" src="/assets/OAHwords.png" alt="oceanside-symbol"/>
        <div class="social-media-links">
            Like us on Facebook! <img class="icon" src="/assets/facebook.svg" alt="facebook" />
        </div>
    </div>
    <nav>

    </nav>
</header>

{{yield}}