<header>
    <div class="logo-header">
        <img class="top-logo" src="/assets/OAHwords.png" alt="oceanside-symbol"/>
        <div class="social-media-links">
            <p>Like us on Facebook! <img class="icon" src="/assets/facebook.svg" alt="facebook" /></p>
            <p>Follow us on Instagram! <img class="icon" src="/assets/instagram-sketched.svg" alt="instagram" /></p>
            <p>We accept Care Credit</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/"><img src="/assets/home.svg" class="icon" alt="home"><p>Home</p></a></li>
            <li><a href="/"><img src="/assets/calendar.svg" class="icon" alt="calendar"><p>Request an Appointment</p></a></li>
            <li><a href="/"><img src="/assets/cross.svg" class="icon" alt="medical-services"><p>Services</p></a></li>
            <li><a href="/" class="pet-store"><img src="/assets/cart.svg" class="icon" alt="store"><p>Pet Supply Store</p></a></li>
            <li><a href="/"><img src="/assets/info.svg" class="icon" alt="information"><p>About Us</p></a></li>
        </ul>
    </nav>
</header>

{{yield}}