<header>
    <div class="logo-header">
        <img class="top-logo" src="/assets/OAHwords.png" alt="oceanside-symbol"/>
        <div class="social-media-links">
            <div class="social-link"><p>Like us on Facebook!</p><img class="social-icon" src="/assets/facebook.svg" alt="facebook" /></div>
            <div class="social-link"><p>Follow us on Instagram!</p><img class="social-icon" src="/assets/instagram-sketched.svg" alt="instagram" /></div>
            <a class="social-link" href="https://www.carecredit.com/apply?sitecode=bb3bupc06182018" target="_blank" rel="noreferrer noopener">
                <img src="//www.carecredit.com/adtoolkit/assets/pages/library/buttons/200x60/CareCredit_Icon_var2_g_v2.png" alt="CareCredit">
            </a>
        </div>
    </div>
    <nav>
        <ul>
            <li class="bookend"></li>
            <li><LinkTo @route="home"><img src="/assets/home.svg" class="icon" alt="home"><p>Home</p></LinkTo></li>
            <li>
                <a href="#" class="not-clickable">
                    <img src="/assets/calendar.svg" class="icon" alt="calendar">
                    <p>Request an Appointment</p>
                </a>
                <ul class="appointment sub-menu">
                    <li><LinkTo @route="new-client">New Clients</LinkTo></li>
                    <li><LinkTo @route="established-client">Established Clients</LinkTo></li>
                </ul>
            </li>
            <li>
                <a href="#" class="not-clickable">
                    <img src="/assets/cross.svg" class="icon" alt="medical-services">
                    <p>Services</p>
                </a>
                <ul class="services sub-menu">
                    <li><LinkTo @route="veterinary-services">Veterinary Services</LinkTo></li>
                    <li><LinkTo @route="euthanasia">Loss of a Pet</LinkTo></li>
                    <li><LinkTo @route="online-resources">Online Resources</LinkTo></li>
                </ul>
            </li>
            <li><a href="https://oceansideanimalhospital4.securevetsource.com/site/view/site/view/HomeDelivery.pml?retUrl=http://www.oceansidepetvet.com/&cmsTitle=Oceanside+Animal+Hospital" class="pet-store" target="_blank" rel="noopener noreferrer"><img src="/assets/cart.svg" class="icon" alt="store"><p>Pet Supply Store</p></a></li>
            <li>
                <a href="#" class="not-clickable">
                    <img src="/assets/info.svg" class="icon" alt="information">
                    <p>About Us</p>
                </a>
                <ul class="about sub-menu">
                    <li><LinkTo @route="our-staff">Our Staff</LinkTo></li>
                    <li><LinkTo @route="tour">Clinic Tour</LinkTo></li>
                    <li><a href="/">Directions</a></li>
                </ul>
            </li>
            <li class="bookend"></li>
        </ul>
    </nav>
</header>

{{yield}}