<div>
    <h4>Hours:</h4>
    <table>
        <tbody>
            <tr>
                <td>Sunday</td>
                <td>Closed</td>
            </tr>
            <tr>
                <td>Monday</td>
                <td>8am-5pm</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>10am-6:30pm</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>8am-5pm</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>10am-6:30pm</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>8am-5pm</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>Closed</td>
            </tr>
        </tbody>
    </table>
</div>

{{yield}}