<main id="directions">
    <h3>Directions</h3>
    <div class="service">
        <div class="direction">
            <h3>From Bangor/Ellsworth</h3>
            <p>Take Route 3 South through Ellsworth (High Street) towards Trenton. Continue South until your see Wild Acadia Fun Park on the right hand side. Oceanside Animal Hospital is immediately after Wild Acadia Fun Park on the right.</p>
        </div>
        <div class="direction">
            <h3>From Mount Desert Island</h3>
            <p>Leave the island via Route 3, over the Trenton Bridge. Continue past the Jordan River Road, turn left just past the Ellsworth Chain Saw (on the right), and just before Wild Acadia Fun Park.</p>
        </div>
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45536.556377651825!2d-68.4163689846156!3d44.493954278998864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4caeedd018641517%3A0xd7037b932177b98d!2sOceanside%20Animal%20Hospital!5e0!3m2!1sen!2sus!4v1586554636889!5m2!1sen!2sus" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</main>

{{outlet}}