<main class="form">
    <h2>Established Client</h2>
    <h3>Call for an appointment now!</h3>
    <CallButton @number="2076642944" @structuredNumber="(207) 664-2944"/>
    <h3>OR</h3>
    <h3>Make a request using the form below:</h3>
    <form action="mailto:f34r91@gmail.com">
        <h3 id="new-client-form-text">Online Appointment Request Form</h3>

        <label for="owner"></label>
        <input id="owner" type="text" name="owner" placeholder="Owner's Name*" required>

        <label for="email"></label>
        <input id="email" type="text" name="email" placeholder="E-mail Address*" required>

        <label for="phone"></label>
        <input id="phone" type="text" name="phone" placeholder="Phone Number*" required>

        <label for="pet-name"></label>
        <input id="pet-name" type="text" name="pet-name" placeholder="Pet's Name*" required>

        <label for="pet-type"></label>
        <select id="pet-type" name="pet-type" required>
            <option disabled selected>Select a Type of Pet*</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="other">Other</option>
        </select>

        <label for="time-and-reason">Requested Time and Reason:</label>
        <textarea id="time-and-reason" name="time-and-reason" placeholder="Please give one alternate time." required></textarea>

        <input type="submit" value="Submit">
    </form>
</main>

{{outlet}}