<main id="home-main">
    <div class="large-image">
        <img src="/assets/Big-Kitten-Puppy.jpg" alt="main">
    </div>
    <div class="main-info">
        <section class="home">
            <a href="https://oceansideanimalhospital4.securevetsource.com/site/view/site/view/HomeDelivery.pml?retUrl=http://www.oceansidepetvet.com/&cmsTitle=Oceanside+Animal+Hospital" class="tile" target="_blank" rel="noopener noreferrer">
                <img src="/assets/cart.svg" alt="store">
                <p>Visit our Pet Supply Store</p>
            </a>
            <LinkTo class="tile emergency" @route="emergency">
                <img src="/assets/emergency.svg" alt="emergency">
                <p>Emergency Information</p>
            </LinkTo>
            <LinkTo class="tile" @route="online-resources">
                <img src="/assets/video-camera.svg" alt="videos">
                <p>Informational Videos</p>
            </LinkTo>
            <LinkTo @route="schedule-appointment" class="tile">
                <img src="/assets/calendar.svg" alt="calendar">
                <p>Schedule an Appointment</p>
            </LinkTo>
            <LinkTo class="tile" @route="veterinary-services">
                <img src="/assets/pawprints.svg" alt="services">
                <p>Our Services</p>
            </LinkTo>
            <a href="https://www.spcahancockcounty.org/" class="tile">
                <img src="/assets/animal-house.svg" alt="adopt">
                <p>Visit the SPCA</p>
            </a>
        </section>
        <aside class="home">
            <div class="title">Contact Information</div>
            <Hours />
            <AddressButton @mapLink="https://www.google.com/maps/place/Oceanside+Animal+Hospital/@44.4939543,-68.3835387,17z/data=!3m1!4b1!4m5!3m4!1s0x4caeedd018641517:0xd7037b932177b98d!8m2!3d44.4939543!4d-68.3813447" @address="47 Four Paws Lane, Trenton, ME 04605" />
            <CallButton @number="2076642944" @structuredNumber="(207) 664-2944"/>
            <div class="contact">
                <a class="button" href="mailto:oceansideanimalhospital@gmail.com">
                    <img src="/assets/envelope.svg" class="icon" alt="email">oceansideanimalhospital<br>@gmail.com
                </a>
            </div>
        </aside>
    </div>
</main>

{{outlet}}