<main id="online-resources">
    <h3>Online Resources</h3>
    <div class="service">
        
    </div>
    <div class="service">

    </div>
    <div class="service">

    </div>
    <div class="service">

    </div>
    <div class="service">

    </div>
    <div class="service">

    </div>
    <div class="service">

    </div>
</main>

{{outlet}}