<main id="online-resources">
    <h3>Online Resources</h3>
    <div class="service">
        <h3>What are heartworms?</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_2nu1yDAPaM" frameborder="0" title="heartworms" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="service">
        <h3>Lyme Disease</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mAL6YVCWpwM" frameborder="0" title="lyme-disease" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="service">
        <h3>Heat Stroke in Dogs</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fOp8BCOymM8" frameborder="0" title="heatstroke" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="service">
        <h3>What to Expect: Wellness Checkup</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MnuhJ_it4UY" frameborder="0" title="wellness" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="service">
        <h3>Spaying and Neutering Pets</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oE-rLaXscGM" frameborder="0" title="spay-neuter" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</main>

{{outlet}}