<main id="staff">
    <h3>Our Staff</h3>
    <div class="service">
        <h3>Daryl Burmeister, DVM</h3>
        <div class="about-us">
            <img src="/assets/daryl.jpg" alt="Daryl Burmeister, DVM">
            <p>Dr. Burmeister grew up on a dairy farm in rural Lakefield, Minnesota. He attended the college of Veterinary Medicine at ﻿Texas A&M University﻿ and graduated in 1995. He began his career in small animal medicine in Bloomington, Illinois, and has been practicing in Ellsworth since 1999. Dr. Burmeister is married, and has four children, Aaron, Mimi, Rory and Noe. His pets include two rescued Rat Terriers, Oatmeal and Farina, an abandoned kitten named Mustache and many goldfish . He enjoys gardening, travel and spending time with his family. Dr. Burmeister is a member of the MaineVMA and the AVMA.</p>
        </div>
    </div>
    <div class="service">
        <h3>Tracy Young</h3>
        <div class="about-us">
            <img src="/assets/tracy.jpg" alt="Tracy Young">
            <p>Tracy Young is our receptionist. She hails from Pennsylvania, originally, but has been in Maine since 1982. She is a graduate of Ellsworth High School. Tracy has 3 children, Ryan, Alexis and Landon and a Border Collie rescue. She enjoys spending time with her children, going to the beach and reading.</p>
        </div>
    </div>
    <div class="service">
        <h3>Nikki Gabriel</h3>
        <div class="about-us">
            <img src="/assets/nikki.jpg" alt="Nikki Gabriel">
            <p>Nikki Gabriel works part-time as a vet tech and the receptionist (when Tracy is out). She lives on MDI with her husband, who is in the Coast Guard. </p>
        </div>
    </div>
    <div class="service">
        <h3>Pilar Burmeister</h3>
        <div class="about-us">
            <img src="/assets/pilar.jpg" alt="Pilar Burmeister">
            <p>Pilar Burmeister is the clinic manager. She is married to Dr. Burmeister. Pilar is a college professor and is currently the Director of the Nursing Program at Eastern Maine Community College. She grew up in Newton, Massachusetts and attended the University of Texas Medical Branch for her undergraduate degree in Nursing. In 1999 she graduated from Mennonite School of Nursing with her Master's degree in Nursing as an FNP, and in 2015 graduated from Husson University with a Master's Degree in Nursing Education. In her spare time, she enjoys cake decorating, scrapbooking, travel and spending time with her family.
            </p>
        </div>
    </div>
</main>

{{outlet}}