<main id="tour">
    <h3>Clinic Tour</h3>
    <div class="service">
        <div class="room">
            <h3>The Clinic</h3>
            <img src="/assets/clinic.JPG" alt="The Clinic">
        </div>
        <div class="room">
            <h3>Waiting Room / Main Lobby</h3>
            <img src="/assets/waiting-room.jpg" alt="Waiting Room">
        </div>
        <div class="room">
            <h3>Dog Exam Room</h3>
            <img src="/assets/dog-room.jpg" alt="Dog Room">
        </div>
        <div class="room">
            <h3>Cat Exam Room</h3>
            <img src="/assets/cat-room.jpg" alt="Cat Room">
        </div>
    </div>
</main>

{{outlet}}