<main id="services">
    <h3>Our Services</h3>
    <LinkTo @route="emergency" class="tile emergency">
        <img src="assets/emergency.svg" alt="emergency">
        <p>Emergency Services</p>
    </LinkTo>
    <div class="service container">
        <div>
            <h3>Call For An Appointment:</h3>
            <CallButton @number="2076642944" @structuredNumber="(207) 664-2944" />
        </div>
    </div>
    <div class="service">
        <h3>Routine Appointments</h3>
        <p>We provide services for your pet such as vaccinations, nail trims, anal gland expression, exams and new puppy and kitten check-ups.</p>
    </div>
    <div class="service">
        <h3>Diagnostic Services</h3>
        <p>Our in-house lab can run pre-anesthethic profiles (to check for any problems before surgery), general blood profiles, thyroid levels, blood sugar and urine testing and microscopic examination of blood and stool. Out-of-house bloodwork results are back the next day.</p>
        <p>We also have a digital X-ray on site.</p>
    </div>
    <div class="service">
        <h3>Sick Pet Care</h3>
        <p>Having a sick pet can be a frightening experience, since they cannot communicate with us and tell us exactly what is wrong with them. Dr. Burmeister and his staff provide examinations, laboratory testing and other diagnostics to determine your pet's ailment and the best course of treatment for them. We have an in-house pharmacy and will provide explanations on all medications.</p>
    </div>
    <div class="service">
        <h3>Drop-off Services</h3>
        <p>When your schedule doesn't allow time for an appointment, call us in advance to arrange a drop-off appointment. Tell us what you feel needs to be done, leave a phone number where you can be reached, and sign a permission form so we are able to examine, test and treat your pet while you are at work or running errands.  Please call before picking up your pet to arrange a discharge time.</p>
    </div>
    <div class="service">
        <h3>Surgery</h3>
        <p>Our surgical facilities are well equipped to perform all minor and some major surgeries. Gas anesthesia is available, as well as intravenous fluids and other support therapy. Pre-anesthetic screening is recommended, and sometimes required for at-risk patients. Your animal will be monitored carefully before, during, and after surgery.</p>
        <p>Surgery is performed on Mondays, Wednesdays and Fridays with most patients going home the same day.</p>
        <p>Pre and post-surgical instructions are provided to ensure the most optimal outcomes possible.
        Pets having surgery need to have had no food since 8:00PM and no water after midnight the evening before surgery. Owners may drop off their pets between 8:00AM and 8:30AM the morning of surgery, and then pick them up between 3:30PM and 4:30PM that afternoon.</p>
    </div>
    <div class="service">
        <h3>Dental Services</h3>
        <p>If your pet has bad breath, it is likely he or she is suffering from periodontal disease, which, while very common, can be extremely dangerous. Periodontal disease is a chronic and painful infection of the mouth affecting more than 85% of dogs and cats over four years of age, and if left untreated, it is progressive. Good dental hygiene in your pet can prevent this disease, as well as prevent a number of serious secondary problems such as heart, kidney and liver diseases that can develop from infected gums. We recommend periodic tooth care for the health of your pet, and provide cleaning, scaling, polishing and tooth removal when necessary. We also carry toothbrushes and seafood or poultry flavored toothpaste to keep your dog or cat's teeth clean between professional cleanings.</p>
    </div>
</main>

{{outlet}}